.menu-title-container {
  color: #FFF;
}

.menu-title-container>h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  font-family: 'segoe UI';
}

.menu-title-container>hr {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
